@font-face {
    font-family: "FredokaOne";
    font-style: normal;
    font-weight: 100;
    src: url(asset/font/FredokaOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 100;
    src: url(asset/font/GothicA1-Light.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 300;
    src: url(asset/font/GothicA1-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 500;
    src: url(asset/font/GothicA1-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Manrope";
    font-style: bold;
    font-weight: 100;
    src: url(asset/font/Manrope-Bold.ttf) format("truetype");
}


a {
    text-decoration: none;
    color: #eaafff;
}

div.name {
    color: #f0f010;
}

div.full_name {
    color: #9999ff;
}

.header {
    padding: 30 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: FredokaOne, sans-serif;
    background-color:rgba(255,255,255,0.5);
    border-radius: 5px;
}

.menu {
    font-size: 35px;
    padding: 0 10px;
    cursor: pointer;
    color: #9999ff;
}

.menus {
    display: flex;
}

.name {
    font-size: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rainbow {
    background-size: 400% 400%;
    background-image: linear-gradient(135deg,#ffb9b9,#ffd3b6,#fffdbb,#b4ecb4,#ace1ff,#f6c3ff)!important;
    animation-name: wave1;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes wave1 {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}