@font-face {
    font-family: "FredokaOne";
    font-style: normal;
    font-weight: 100;
    src: url(asset/font/FredokaOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 100;
    src: url(asset/font/GothicA1-Light.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 300;
    src: url(asset/font/GothicA1-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 500;
    src: url(asset/font/GothicA1-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Manrope";
    font-style: bold;
    font-weight: 100;
    src: url(asset/font/Manrope-Bold.ttf) format("truetype");
}


a {
    text-decoration: none;
    color: #eaafff;
}

div.name {
    color: #f0f010;
}

div.full_name {
    color: #9999ff;
}

.header {
    padding: 30 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: FredokaOne, sans-serif;
    background: black;
}

.menu {
    font-size: 35px;
    padding: 0 10px;
    cursor: pointer;
    color: #9999ff;
}

.menus {
    display: flex;
}

.name {
    font-size: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
