@font-face {
    font-family: "FredokaOne";
    font-style: normal;
    font-weight: 100;
    src: url(asset/font/FredokaOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 100;
    src: url(asset/font/GothicA1-Light.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 300;
    src: url(asset/font/GothicA1-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "GothicA1";
    font-weight: 500;
    src: url(asset/font/GothicA1-ExtraBold.ttf) format("truetype");
}

a {
    text-decoration: none;
    color: #eaafff;
}

div.name {
    color: #eaafff;
}

div.full_name {
    color: #eaafff;
}